# ----------------------------
# PyTorch (Windows-supported)
# ----------------------------
torch==2.9
torchaudio==2.9
torchvision==0.24

# ----------------------------
# PyTorch Lightning
# ----------------------------
pytorch-lightning==2.3.0

# ----------------------------
# Core Dependencies
# ----------------------------
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.8.4

# ----------------------------
# Audio + Serialization
# ----------------------------
SoundFile==0.12.1
joblib==1.4.2

# ----------------------------
# Utilities
# ----------------------------
PyYAML==6.0.2
tqdm==4.66.4
